// =======================================
// Colors
// =======================================

$green: #00a046;
$light-green: #00bc52;
$white: #f0f0f0;
$light-gray: #4e4c4c;
$background-header: #221f1f;
$background-ps-btn: #7a7979;
$close: orangered;
$background-main-content: rgb(248, 248, 222);
$hover-btn-sidebar: rgb(71, 69, 64);
$bgColorError: rgb(216, 201, 201);
$errorColor: rgb(105, 16, 16);

// =======================================
//
// =======================================
