@import '../../styles/variables';
@import '../../styles/mixins';

.search {
  display: flex;

  .icon_find {
    @include baseSearchPanelIcon;
    border-radius: 5px 0 0 5px;
    cursor: text;
  }

  .input {
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 400px;
    background-color: $white;
  }

  .icon_cross {
    @include baseSearchPanelIcon;
    cursor: pointer;
    &:hover {
      color: $close;
    }
  }
}
