@import '../../styles/variables.scss';

.form_wrapper {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .input_form {
    input {
      font-size: 18px;
      border: 1px solid $background-ps-btn;
      border-radius: 4px;
      outline: none;
      width: 200px;
      &::-webkit-input-placeholder {
        color: $background-ps-btn;
      }
    }
  }

  .email {
  }

  .password {
    margin-top: 5px;
  }
}
