@import '../../styles/variables.scss';

.form_wrapper {
  font-size: 20px;
  background-color: red;

  .input_form {
    input {
      font-size: 18px;
      border: 2px solid $green;
      border-radius: 2px;
      outline: none;
      &::-webkit-input-placeholder {
        color: red;
      }
    }
  }

  .email {
  }

  .password {
  }
}
