@import '../../styles/variables';

.footer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-header;
  height: 30px;
  color: $white;
  font-size: 11px;
}
