.slider_wrapper {
  .internal_block {
    width: 1000px;
    margin: 0 auto;

    .image {
      margin: 0 5px;
      border-radius: 10px;
      width: 220px;
      height: 100px;
      object-fit: cover;
      cursor: pointer;
      border: 2px solid;
    }
  }
}
